.about-page {
  
    min-height: clamp(600px, 80vh, 850px);


    display: flex;
    justify-content: center;
    align-items: center;
}

.about-page h1 {
    font-size: 72px;

    color: var(--text-primary);
}