.highlights-page{
    background:#060707;
    color:#F4F4F4;
    min-height:100vh;
}

.highlights-banner{
    padding:80px 10%;
    text-align:center;
    background:#122018;
    border-bottom:1px solid #37433D;
}

.highlights-banner h1{
    color:#C7A34A;
    margin-bottom:10px;
}

.highlights-banner p{
    color:#A6B0AE;
}

.gallery-section{
    padding:80px 10%;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.gallery-box{
    height:220px;
    background:#1A241F;
    border:1px solid #37433D;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#A6B0AE;
}

.stats{
    padding:0 10% 80px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.stat-card{
    background:#1A241F;
    border:1px solid #37433D;
    padding:30px;
    text-align:center;
}

.stat-card h2{
    color:#C7A34A;
    margin-bottom:10px;
}

.stat-card p{
    color:#A6B0AE;
}