.team-page {
    width: 100%;
      
}


/* ================================= */
/* HERO */
/* ================================= */

.team-hero {
       /* min-height: clamp(600px, 80vh, 850px); */

    display: flex;
    flex-direction: column;
  min-height:220px;
    /* justify-content: center; */
    align-items: center;

    text-align: center;
margin-top:120px;
margin-bottom:0;
    /* padding: 80px 7%; */
}

.team-hero h1 {
    font-size: 5rem;

       color:var(--accent);
       letter-spacing:5px;

    margin-bottom: 20px;
}

.team-hero p {
    max-width: 750px;

    color: var(--text-secondary);

    font-size: 1.5rem;
  letter-spacing:2px;
    line-height: 1.8;
}


/* ================================= */
/* TEAM SECTION */
/* ================================= */

.team-section {
    width: 100%;
    padding: 60px 7% 100px;
    box-sizing: border-box;
}

/* ================================= */
/* TEAM GRID */
/* ================================= */

.team-grid {
    width: 100%;

    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    gap: 30px;
}
@media (max-width: 768px) {

    .team-hero {
        min-height: auto;
        margin-top: 100px;
        padding: 40px 20px 30px;
    }

    .team-hero h1 {
        font-size: 3rem;
    }

    .team-hero p {
        font-size: 1.1rem;
        line-height: 1.7;
    }

    .team-section {
        padding: 30px 20px 70px;
    }

    .team-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
}