.committees{
    min-height:100vh;
    padding:80px 5%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
}
.section-title{
    font-size:100px;
    color:#C7A34A;
}

.committees-tagline{
    max-width:700px;
    margin:20px auto 70px;
    color:var(--text-secondary);
    font-size:1.8rem;
    line-height:1.8;
}

.committee-grid{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:28px;
}

.committee-card{
    min-height:450px;
    border:1px solid var(--border);
    border-radius:18px;
    overflow:hidden;
    background:#0E1412;
    transition:.35s ease;
    cursor:pointer;
}

.committee-card:hover{
    transform:translateY(-25px);
    border-color:var(--accent-gold);

    filter:brightness(1.1);

    box-shadow:
        0 15px 35px rgba(0,0,0,.35),
        0 0 25px rgba(199,163,74,.12);
}

.committee-logo{
    width:100%;
    height:250px;
    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#111;
}

.committee-logo img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.committee-content{
    height:200px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:25px 20px;
    text-align:center;

    background:
        radial-gradient(
            circle at top,
            rgba(199,163,74,.08),
            transparent 60%
        ),
        linear-gradient(
            180deg,
            #1A241F,
            #122018
        );

    transition:.35s ease;
}

.committee-card:hover .committee-content{
    background:
        radial-gradient(
            circle at top,
            rgba(199,163,74,.15),
            transparent 60%
        ),
        linear-gradient(
            180deg,
            #223129,
            #16221C
        );
}

.committee-content h3{
    color:var(--text-primary);
    font-size:1.6rem;
    margin-bottom:15px;
}

.committee-content p{
    color:var(--text-secondary);
    line-height:1.7;
    font-size:1rem;
}

.view-btn{
    position:relative;
    overflow:hidden;

    margin-top:50px;
    align-self:center;

    display:inline-block;

    padding:14px 36px;

    background:#060707;
    color:#C7A34A;

    border:2px solid #37433D;
    border-radius:50px;

    text-decoration:none;
    font-size:1.2rem;
    font-weight:600;

    cursor:pointer;
    transition:.35s ease;
}

.view-btn::before{
    content:"";
    position:absolute;

    left:50%;
    bottom:-18px;

    transform:translateX(-50%);

    width:0%;
    height:4px;

    background:#C7A34A;
    border-radius:10px;

    transition:.35s ease;
}

.view-btn:hover{
    background:#1A241F;
    color:#F4F4F4;

    border-color:#C7A34A;

    transform:translateY(-15px);
}

.view-btn:hover::before{
    width:80%;

    box-shadow:
        0 0 10px #C7A34A,
        0 0 20px rgba(199,163,74,.6),
        0 0 35px rgba(199,163,74,.4);
}