.navbar{
    height:100px;
  background: transparent;
border-bottom: 1px solid var(--border-color);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 60px;
    border-bottom:1px solid var(--border-color);
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    z-index: 1000;
     
    
    background: rgba(18, 32, 24, 0.92);
    backdrop-filter: blur(12px);

    border-bottom: 1px solid rgba(199, 163, 74, 0.22);





}
.logo{
    display:flex;
    align-items:center;
      height:45px;
    gap:12px;
}
.logo img{
    width:45px;
  
    border-radius:50%;
    padding:0px;
    cursor:pointer;
}
.logo h2{
    color: var(--text-primary);
    font-size:30px;
    letter-spacing:6px;
    cursor:pointer;
}
.navbar nav {
    display: flex;
    gap: 35px;
}

.navbar nav a {
    position: relative;

    display: inline-block;

    color: var(--text-secondary);

    text-decoration: none;

    font-size: 30px;
    letter-spacing:3px;
    transition: color 0.3s ease;
}

.navbar nav a::after {
    content: "";

    position: absolute;

    left: 0;
    bottom: -6px;

    width: 0;
    height: 2px;

    background-color: #C7A34A;

    transition: width 0.3s ease;
}

.navbar nav a:hover {
    color: #C7A34A;
}

.navbar nav a:hover::after {
    width: 100%;
}





button{
    padding:16px 42px;
    background: rgba(200, 164, 90, 0.14);
    color:#F4F4F4;
    border:2px solid #C7A34A;
    border-radius:50px;
    font-size:1rem;
    font-weight:600;
    cursor:pointer;
    transition:all .3s ease;
}

button:hover{
    background:#C7A34A;
    color: rgba(200, 164, 90, 0.14);
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(199,163,74,.3);
}

button:active{
    transform:translateY(-2px);
}
